<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div th:replace="fragments :: header(usuario=${usuario})"></div>
<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Desarrollada por: Benziane Mohammed Adel, Luis Alfonso Culiañez y Alejandro Company Rincón</li>
            <li>Versión 1.4.0 (en desarrollo)</li>
            <li>Fecha de release: pendiente</li>
        </ul>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>