<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Nueva Contraseña')"></head>

<body>
<div class="container-fluid">

    <div class="row justify-content-center mb-3">
        <div class="col-auto">
            <h2>Restablecer Contraseña</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{/ressetPassword/{idUser}(idUser=${userId})}" th:object="${newPasswordData}">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="password">Nueva Contraseña</label>
                            <input id="password" class="form-control" name="password" placeholder="Nueva Contraseña" type="password" th:field="*{password}" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">Restablecer</button>
                        <a class="btn btn-link" href="/login">Volver al login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-6">
            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
            <span th:text="${mensaje}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>