<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MENU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">ToDoList<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tareas">Tareas</a>
      </li>
      <li th:if="${soyadmin}" class="nav-item">
        <a class="nav-link" href="/registrados">Usuarios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/equipos">Equipos</a>
      </li>
      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          [[${usuario.nombre}]]
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cuenta">Cuenta</a>
          <a class="dropdown-item" href="/logout">
            Cerrar sesión [[${usuario.nombre}]]
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">

  <div class="row mt-3">
    <div class="col">
      <h2 th:text="'Listado de Miembros del Equipo'"></h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Nombre</th>
          <th>FechaNacimiento</th>
          <th th:if="${soyadmin}">Accion</th>
          <th>Cambiar Rol</th>
          <th>Rol</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.nombre}"></td>
          <td th:text="${user.fechaNacimiento}"></td>
          <td th:if="${soyadmin}"><button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                                          th:onclick="'eliminar(\'/equipos/'+ ${Idequipo}+'/'+${user.id} + '\')'">Expulsar</button></td>
          <td>
            <form method="post" th:action="@{/equipo/{idEquipo}/cambiarRol/${user.id}(idEquipo=${Idequipo})}" th:object="${cambiarRolData}">
              <select id="estado" name="estado" th:field="*{rol}">
                <option value="PARTICIPANTE">PARTICIPANTE</option>
                <option value="GESTOR">GESTOR</option>
                <option value="LIDER">LIDER</option>
              </select>
              <button class="btn btn-primary" type="submit">Modificar</button>
            </form>
          </td>
          <td>
            <div th:if="${user.id == lider}"><span class="font-weight-bold py-2 px-3 badge badge-pill badge-primary">LIDER</span></div>
            <div th:if="${user.id != lider}"><span class="font-weight-bold py-2 px-3 badge badge-pill badge-secondary">MIEMBRO</span></div>
          </td>
        </tr>
        </tbody>
      </table>
      <a class="btn btn-link" href="/equipos">Volver al listado</a></p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
        <span th:text="${mensaje}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


</div>
<div th:replace="fragments::javascript"/>
<script type="text/javascript">
  function eliminar(urlBloquear) {
    if (confirm('¿Estás seguro/a de que quieres expulsarlo del equipo?')) {
      fetch(urlBloquear, {
        method: 'DELETE'
      }).then((res) => location.reload());
    }
  }
</script>
</body>
</html>