<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div th:replace="fragments :: header(usuario=${usuario})"></div>
<div class="container-fluid">
  <div class="container-fluid">
    <h1>ToDoList</h1>
    <div class="container text-center">
      <h3>Te has registrado correctamente!</h3>
      <p>Porfavor revise su correo para verificar la cuenta.</p>
    </div>
  </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>